* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(57, 168, 168);
    margin-inline: 100px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Honk", system-ui;
    text-align: center;
    font-size: 3em;
}

main {
    text-align: center;
    font-family: "Playfair Display", serif;
}

input {
    padding: 3px;
    border-radius: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding-inline: 10px;
    padding-block: 3px;
}

#generate {
    background-color: rgb(122, 196, 48);
    border-radius: 5px;
}

#generate:hover {
    background-color: greenyellow;
    cursor: pointer;
}

#clean {
    background-color: red;
    border-radius: 5px;
}

#clean:hover {
    background-color: rgb(252, 110, 110);
    cursor: pointer;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    height: 300px;
    width: 300px;
}

#sentence::before {
    position: absolute;
    content: "ˮ";
    top: -10px;
    left: 20px;
    font-size: 100px;
}
